[submodule "Nivel02-06/Bootcamp-GoStack-NodeJS-Fundaments-Challenge"]
	path = Nivel02-06/Bootcamp-GoStack-NodeJS-Fundaments-Challenge
	url = https://github.com/JSFarias/Bootcamp-GoStack-NodeJS-Fundaments-Challenge.git
[submodule "Nivel01/Back-end with Node.js/Bootcamp-GoStack-NodeJS-Concepts-Challenge"]
	path = Nivel01/Back-end with Node.js/Bootcamp-GoStack-NodeJS-Concepts-Challenge
	url = https://github.com/JSFarias/Bootcamp-GoStack-NodeJS-Concepts-Challenge.git
[submodule "Nivel01/Mobile com React Native/Bootcamp-GoStack-ReactNative-Challenge"]
	path = Nivel01/Mobile com React Native/Bootcamp-GoStack-ReactNative-Challenge
	url = https://github.com/JSFarias/Bootcamp-GoStack-ReactNative-Challenge.git
[submodule "Nivel01/Front-end com ReactJS/Bootcamp-GoStack-ReactJS-Concepts-Challenge"]
	path = Nivel01/Front-end com ReactJS/Bootcamp-GoStack-ReactJS-Concepts-Challenge
	url = https://github.com/JSFarias/Bootcamp-GoStack-ReactJS-Concepts-Challenge.git
[submodule "Nivel02-06/Bootcamp-GoStack-Database-Upload-Challenge"]
	path = Nivel02-06/Bootcamp-GoStack-Database-Upload-Challenge
	url = https://github.com/JSFarias/Bootcamp-GoStack-Database-Upload-Challenge.git
[submodule "Nivel02-06/ReactJS/bootcamp-gostack-fudamentos-reactjs"]
	path = Nivel02-06/ReactJS/bootcamp-gostack-fudamentos-reactjs
	url = https://github.com/JSFarias/bootcamp-gostack-fudamentos-reactjs.git
