[submodule "Nivel02-06/Bootcamp-GoStack-NodeJS-Fundaments-Challenge"]
	path = Nivel02-06/Bootcamp-GoStack-NodeJS-Fundaments-Challenge
	url = https://github.com/JSFarias/Bootcamp-GoStack-NodeJS-Fundaments-Challenge.git
[submodule "Nivel01/Back-end with Node.js/Bootcamp-GoStack-NodeJS-Concepts-Challenge"]
	path = Nivel01/Back-end with Node.js/Bootcamp-GoStack-NodeJS-Concepts-Challenge
	url = https://github.com/JSFarias/Bootcamp-GoStack-NodeJS-Concepts-Challenge.git
[submodule "Nivel01/Mobile com React Native/Bootcamp-GoStack-ReactNative-Challenge"]
	path = Nivel01/Mobile com React Native/Bootcamp-GoStack-ReactNative-Challenge
	url = https://github.com/JSFarias/Bootcamp-GoStack-ReactNative-Challenge.git
[submodule "Nivel01/Front-end com ReactJS/Bootcamp-GoStack-ReactJS-Concepts-Challenge"]
	path = Nivel01/Front-end com ReactJS/Bootcamp-GoStack-ReactJS-Concepts-Challenge
	url = https://github.com/JSFarias/Bootcamp-GoStack-ReactJS-Concepts-Challenge.git
[submodule "Nivel02-06/Bootcamp-GoStack-Database-Upload-Challenge"]
	path = Nivel02-06/Bootcamp-GoStack-Database-Upload-Challenge
	url = https://github.com/JSFarias/Bootcamp-GoStack-Database-Upload-Challenge.git
[submodule "Nivel02-06/ReactJS/bootcamp-gostack-fundamentos-reactjs"]
	path = Nivel02-06/ReactJS/bootcamp-gostack-fundamentos-reactjs
	url = https://github.com/JSFarias/bootcamp-gostack-fundamentos-reactjs.git
[submodule "Nivel02-06/ReactJS/bootcamp-gostack-reactjs-concepts-challenge"]
	path = Nivel02-06/ReactJS/bootcamp-gostack-reactjs-concepts-challenge
	url = https://github.com/JSFarias/bootcamp-gostack-reactjs-concepts-challenge.git
[submodule "Nivel02-06/NodeJS/bootcamp-gostack-database-upload-challenge"]
	path = Nivel02-06/NodeJS/bootcamp-gostack-database-upload-challenge
	url = https://github.com/JSFarias/bootcamp-gostack-database-upload-challenge.git
